
.CodeTable {
    max-width: 50vw;
    max-height: 100vh;
    background-color: white;
    color: black;
    margin: 10%;
    text-align: left;
}

input {
    height: 35px;
    width: 200px;
    font-size: 25px;
    border-color: lightgrey;
}