
.CodeTable {
    max-width: 50vw;
    max-height: 100vh;
    background-color: white;
    color: black;
    margin: 2% 8%;
    text-align: left;
}

input {
    height: 35px;
    width: 200px;
    font-size: 25px;
    border-color: lightgrey;
}

.render-code {
    width: 700px;
}

.code-workshop {
    font-size: 65px;
}