
* {
    box-sizing: border-box;
}

.elf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 750px;
    min-height: 750px;
    background-color: darkslateblue;
    border-radius: 50em;
    margin-left: 40px;
}

.hat {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    -webkit-transform:rotate(360deg);
    margin-top: 50px;

}

.pom-pom{
    /* background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px; */
    margin-bottom: -20px;

}

.hat-head {
    z-index: -1;
    border-radius: 50% 50% 50% 50% / 100% 100% 30% 30%;
    border-style: solid;
    border-width: 0 90px 130px 90px;
    border-color: transparent transparent transparent transparent;
    /* border-bottom-color: green; */
}

.hat-band {
    /* height: 40px;
    width: 200px; */
    /* background-color: white; */
    /* border: 1px solid grey; */
    margin-top: -20px;
    margin-bottom: -20px;
    /* border-radius: 90px; */
}

.hair {
    /* height: 200px;
    width: 200px;
    background-color: brown; */
    margin-bottom: -170px;
    /* border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; */
    /* border-radius: 50%; */
}


.head {
    /* width: 190px;
    height: 200px;
    background-color: orange; 
    border-radius: 50%; */
    /* border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%; */
    
}



.face {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 190px;
    height: 200px;
    /* border: 1px solid black; */
}

.eyes {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin-top: 15px

}

.eye {
    display: flex;
    /* background-color:white;
    width: 30px;
    height: 30px;
    border-radius: 50%; */
    justify-content: center;
    align-items: flex-end;
}

.pupil {
    /* width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%; */

}

.nose {
    /* margin-top: 10px; */
    -webkit-transform:rotate(360deg);
    border-style: inset;
    border-style: solid;
    border-width: 12px 0 12px 0;
    /* border-left-width: 20px; */
    border-color: transparent transparent transparent transparent;
    /* border-left-color: orangered; */
}

.mouth {
    /* height: 45px;
    width: 90px;
    background-color: red;
    margin-top: 17px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px; */
    
}

.middle {
    display: flex;
    flex-direction: initial;
}
.body {
    display: flex;
    /* height: 260px;
    width: 200px;
    background-color: green;
    border-radius: 36em 36em 50em 50em; */
    /* border-radius: 50em; */
}

.arm {
    display: flex;
    flex-direction: column-reverse;
    /* height: 220px;
    width: 50px;
    background-color: green;
    border-radius: 100px; */

}

.left-arm {
    /* transform: rotate(42deg); */
    
}

.right-arm {
    /* transform: rotate(-42deg); */
    
}


.hand {
    /* width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: orange; */
}



.belt {
    /* margin-top: 120px;
    height: 38px;
    width: 200px;
    background-color: rgb(25, 25, 25); */
}

.buckle {
    /* border: 10px solid gold;
    width: 40px;
    min-height: 38px;
    margin: auto; */
}

.legs {
    display: flex;
    margin-top: -20px;
    width: 220px;
    height: 300px;
    justify-content: space-evenly;
}

.leg {
    /* width: 40px;
    height: 200px;
    background-color: green; */
    
}

.feet {
    /* height: 50px;
    width: 90px;
    background-color: rgb(25, 25, 25);
    border-radius: 40em;
    margin-top: -20px; */

}

.left-leg {
    display: flex;
    align-items: flex-end;   
    margin-right: 10px;

    flex-direction: column;
}

.left-foot {
    margin-right: -5px;
}

.right-foot {
    margin-left: -5px;
}


/* .shadow {
    -webkit-box-shadow: 18px 18px 13px -13px rgba(0,0,0,0.13);
-moz-box-shadow: 18px 18px 13px -13px rgba(0,0,0,0.13);
box-shadow: 18px 18px 13px -13px rgba(0,0,0,0.13);
} */

