
.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h1 {
    font-size: 100px;
    font-family: 'Courgette', cursive;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
    color: #C90D2F;
}

.snow {
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #006400;
}