ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 3vh;
    font-size: 3vh;
}

a {
    text-decoration: none;
    color: black;
}
